paho-mqtt==2.0.0
aiohttp==3.9.3
requests==2.32.2
urllib3==2.2.1
cachetools==5.3.3
scrypted-arlo-go==0.7.6
cloudscraper==1.2.71
curl-cffi==0.6.2
async-timeout==4.0.3
beautifulsoup4==4.12.3
sseclient==0.0.22
--extra-index-url=https://bjia56.github.io/armv7l-wheels/
--extra-index-url=https://bjia56.github.io/scrypted-arlo-go/
--prefer-binary
